<ion-header>
  <ion-toolbar>
    <!--Ion back button that naviagtes back to the home page-->
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-title>Food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Guide For Food And Recipies</h1>
<ion-img src="assets/streetfood.jpg"height="200" width="200"></ion-img>

<!--Ion Card's With Recipie Content-->
<ion-card>
  <ion-card-header>
    <ion-card-title>European Cuisine</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  <p>For the best and most recognised recipe, we have decided to give you Italy's finest Spaghetti Bolognese.</p> 
    <br>
    <ion-icon name="restaurant-outline"></ion-icon>
    <h2>Spaghetti Bolognese</h2>

  <h3>Ingredients</h3> 
  <ul> 
    <li>tbsp olive oill</li>
    
    <li>4 rashers smoked streaky bacon, finely chopped</li>
    <li>2 medium onions, finely chopped</li>
    <li>2 carrots, trimmed and finely chopped</li>
    <li>2 celery sticks, finely chopped</li>
    <li>2 garlic cloves, finely chopped</li>
    <li>2-3 sprigs rosemary, leaves picked and finely chopped</li>
    <li>500g beef mince</li>
  </ul> 
  <h3>Method</h3> 
  <ol>
    <li>Put a large saucepan on a medium heat and add 1 tbsp olive oil.</li>
    <li>Add 4 finely chopped bacon rashers and fry for 10 mins until golden and crisp.</li>
    <li>Reduce the heat and add the 2 onions, 2 carrots, 2 celery sticks, 2 garlic cloves and the leaves from 2-3 sprigs rosemary, all finely chopped, then fry for 10 mins. Stir the veg often until it softens.</li>
    <li>Increase the heat to medium-high, add 500g beef mince and cook stirring for 3-4 mins until the meat is browned all over.</li>
    <li>Add 2 tins plum tomatoes, the finely chopped leaves from ¾ small pack basil, 1 tsp dried oregano, 2 bay leaves, 2 tbsp tomato purée, 1 beef stock cube, 1 deseeded and finely chopped red chilli (if using), 125ml red wine and 6 halved cherry tomatoes. Stir with a wooden spoon, breaking up the plum tomatoes.</li>
    <li>Bring to the boil, reduce to a gentle simmer and cover with a lid. Cook for 1 hr 15 mins stirring occasionally, until you have a rich, thick sauce.</li>
    <li>Add the 75g grated parmesan, check the seasoning and stir.</li>
    <li>When the bolognese is nearly finished, cook 400g spaghetti following the pack instructions.</li>
    <li>Drain the spaghetti and stir into the bolognese sauce. Serve with more grated parmesan, the remaining basil leaves and crusty bread, if you like.</li>
  </ol>
</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Asian Cuisine</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  <p>For the most flavourable dish full of many different tastes we give you Thailand's amazing Thai Green Curry</p> 
    <br>
    <ion-icon name="restaurant-outline"></ion-icon>
    <h2>Thai Green Curry</h2>

  <h3>Ingredients</h3> 
  <ul> 
    <li>225g new potatoes

    <li>225g new potatoes, cut into chunks</li>
    <li>100g green beans, trimmed and halved</li>
    <li>1 tbsp vegetable or sunflower oil</li>
    <li>1 garlic clove, chopped</li>
    <li>1 rounded tbsp or 4 tsp Thai green curry paste (you can't fit the tablespoon into some of the jars)</li>
    <li>400ml can coconut milk</li>
    <li>2 tsp Thai fish sauce</li>
    <li>1 tsp caster sugar</li>
    <li>450g boneless skinless chicken (breasts or thighs), cut into bite-size pieces</li>
    <li>2 fresh kaffir lime leaves finely shredded, or 3 wide strips lime zest, plus extra to garnish</li>
    <li>good handful of basil leaves</li>
  </ul> 
  <h3>Method</h3> 
  <ol>
    <li>Put 225g new potatoes, cut into chunks, in a pan of boiling water and cook for 5 minutes.</li>
    <li>Add 100g trimmed and halved green beans and cook for a further 3 minutes, by which time both should be just tender but not too soft. Drain and put to one side.</li>
    <li>In a wok or large frying pan, heat 1 tbsp vegetable or sunflower oil until very hot, then drop in 1 chopped garlic clove and cook until golden, this should take only a few seconds. Don’t let it go very dark or it will spoil the taste</li>
    <li>Spoon in 1 rounded tbsp Thai green curry paste and stir it around for a few seconds to begin to cook the spices and release all the flavours.</li>
    <li>Next, pour in a 400ml can of coconut milk and let it come to a bubble.</li>
    <li>Stir in 2 tsp Thai fish sauce and 1 tsp caster sugar, then 450g bite-size chicken pieces. Turn the heat down to a simmer and cook, covered, for about 8 minutes until the chicken is cooked.</li>
    <li>Tip in the potatoes and beans and let them warm through in the hot coconut milk, then add 2 finely shredded kaffir lime leaves (or 3 wide strips lime zest).</li>
    <li>Add a good handful basil leaves, but only leave them briefly on the heat or they will quickly lose their brightness. </li>
    <li>Scatter with lime to garnish and serve immediately with boiled rice.</li>
  </ol>
</ion-card-content>
</ion-card>
<ul>
  <ion-card>
  <ion-card-header>
    <ion-card-title>Leave Us A Recipie</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>We Would like to hear from you, so please share with us your master piece dish.</p>
  </ion-card-content>
  <ion-item>
    <ion-textarea [(ngModel)]="myRecipie" placeholder="Place Your Recipie Here..."></ion-textarea> 
  </ion-item>
<ion-button (click)="save()">Submit Recipie</ion-button>
</ion-card>
<br>




